body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
}

#image {
 background-image: url(images/tree.jpg);
 background-size:cover;
 background-repeat: no-repeat;
 position: relative;
 height: 100vh;
 width: 60vh;

}
#logo {


}

#form {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 80vh;

}
#banner {
    background-color: lightgrey;
    display:flex;
    padding-left: 2rem;
    padding-right: 5rem;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    height: 33vh;
}

form {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.rowfield {
    display: flex;
    flex-direction: column;
}

#fields {
    background-color: aliceblue;
    box-shadow: 2px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 33vh;
    padding-left: 2rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

#formfield {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    gap: 2rem;
    text-transform: uppercase;
}

input {
    width: 12rem;
    height: 1.35rem;
    line-height: 1rem;
    border-radius: 7px;
}

#signup {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    position: relative;
    height: 33vh;
    padding-left: 2rem;
    padding-right: 5rem;
    padding-top: 2rem;
    gap: 1rem;

}

button {
    width: 12rem;
    height: 3rem;
    background-color: olive;
    color:white;
    font-weight: bold;
    border-radius: 5px;
}