body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
}

#image {
 background-image: url(images/tree.jpg);
 background-size:cover;
 background-repeat: no-repeat;
 position: relative;
 height: 100vh;
 width: 60vh;

}

#form {
    background-color: azure;
    position: relative;
    height: 100vh;
    width: 80vh;

}

#fields {
    display: flex;
    flex-direction: column;
    position: relative;



}

#signup {
    position: relative;


}